@import "tailwindcss";

:root {
  --neutral-0: #ffffff; /* pure white */
  --neutral-1: #f9f9f9;
  --neutral-2: #f2f2f2;
  --neutral-3: #e6e6e6;
  --neutral-4: #d9d9d9;
  --neutral-5: #cccccc;
  --neutral-6: #0a0a0a;

  --primary-0: #fdf7f5;
  --primary-1: #f9e9e4;
  --primary-2: #f4d6ca;
  --primary-3: #edc1b0;
  --primary-4: #e3a791;
  --primary-5: #d78f78;
  --primary-6: #8d4330;

  /* --- text colors --- */
  --text-primary: #282828;
  --text-on-primary: var(--neutral-0);
  --text-secondary: #555555;
  --text-muted: #777777;

  /* Accent colors */
  --info: #3b82f6;
  --success: #f3fcf6;
  --success-0: #22c55e;
  --warning-0: #fffaf0;
  --warning: #eab308;
  --danger-0: #fef2f2;
  --danger: #ef4444;
  --accent-0: #fdf6ff;
  --accent: #a855f7;

  /* --- Optional borders / shadows --- */
  --border-light: #e1cbc4f3;
  --border-dark: #1d1c1c;
  --overlay: #02020249;
  --shadow-light: rgba(0, 0, 0, 0.05);
}
body.preload {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
body.loaded {
  opacity: 1;
}
/* .......................Common classes....................... */
.center,
.between {
  display: flex;
  align-items: center;
}
.center {
  justify-content: center;
}
.between {
  justify-content: space-between;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
/* .......................Header classes....................... */

.nav-link::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(--neutral-6);
  z-index: -1;
  border-radius: 0.5rem;
  transform: scaleX(0.5) scaleY(0.5);
  opacity: 0;
}
.nav-link:hover::before {
  transform: scaleX(1) scaleY(1);
  opacity: 1;
  transition: transform 0.3s ease-in;
}
